body {
    background-color: cadetblue;
}

img.indice {
    width: 250px;
    height: 150px;
    border: 2px solid black;
    text-align: center;
}

div.titulo {
    border: 3px solid black;
    width: auto;
    text-align: center;
    background-color: white;
    background-image: linear-gradient(white, gray);
}

div.titulo2 {
    padding-left: 12px;
    border: 3px solid black;
    width: auto;
    height: 200px;
    background-color: white;
    background-image: linear-gradient(gray, white);
}

img {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    text-align: center;
}

div.titulo3 {
    border: 3px solid black;
    width: auto;
    height: 200px;
    background-color: white;
    background-image: linear-gradient(gray, white);
    display:flex; flex-direction: row; justify-content: center; align-items: center
}

